# Python
__pycache__/
*.py[cod]
*.so

#Virtual Environments
.venv/
venv/
env/
ENV/

# IDEs
.idea/
.vscode/

#Testing / coverage
.pytest_cache/
.coverage
htmlcov/

#Build / packaging
build/
dist/
*.egg-info/

# OS
.DS_Store
Thumbs.db

